# 1. Python Environment (Ipo ndani ya Backend/venv2)
Backend/venv2/
*.pyc
**/__pycache__/

# 2. Django Secrets (Zipo ndani ya Backend/Innovation)
Backend/Innovation/.env
Backend/Innovation/db.sqlite3
Backend/Innovation/media/
Backend/Innovation/staticfiles/

# 3. Frontend Settings
Frontend/frontend/node_modules/
Frontend/frontend/.env
Frontend/frontend/dist/
Frontend/frontend/build/

# 4. QR Code Image (Kama umeiacha nje na hutaki iende GitHub)
eemc_competition_qr.png
.DS_Store

*.swp
